# ==================================
# Quy tắc Backend (Django/Python)
# ==================================

# 1. Môi trường ảo Python
venv/
env/
__pycache__/
*.pyc
*.pyd
*.so

# 2. Thư mục Build và Logs
dist/
build/
*.egg-info/
/logs/

# 3. File cấu hình và bảo mật
# KHÔNG LƯU CÁC FILE CHỨA BÍ MẬT!
# Django Secret Key:
*.env
.secret
db.sh
local_settings.py
r2_setenv_local.sh
r2_setenv_cloud.sh
# Khóa dịch vụ Google/Firebase (Ví dụ từ dự án của bạn):
aiotautotech-*.json